{% extends 'blog/base.html' %}

{% block content %}
    {% for receita in receitas %}
        <div class="post">
            <div class="date">
                {{ receita.data_publicacao }}
            </div>
            <h1><a href="{% url 'blog:receita_detalhe' pk=receita.pk %}">{{ receita.titulo }}</a></h1>
            <p><em>Tempo de preparo: {{ receita.tempo_preparo }}</em></p>
            <p><em>Rendimento: {{ receita.rendimento }}</em></p>
            <h3>Ingredientes</h3>
            <p>{{ receita.ingredientes|linebreaksbr }}</p>
            <h3>Modo de preparo</h3>
            <p>{{ receita.modo_preparo|linebreaksbr }}</p>
            <a href="{% url 'blog:receita_detalhe' pk=receita.pk %}">Comentários: {{ receita.comentarios.count }}</a>
        </div>
    {% endfor %}
{% endblock content %}
